@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(//db.onlinewebfonts.com/c/2545d122b16126676225a5b52283ae23?family=VCR+OSD+Mono);
@font-face {font-family: "VCR OSD Mono"; src: url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.eot"); src: url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.woff") format("woff"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.svg#VCR OSD Mono") format("svg"); }

body, html {
  margin : 0;
  padding : 0;
  background-color: transparent;
  height: 100%;

  overflow-x: hidden;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-family: 'VCR OSD Mono', monospace;
  font-size: 0.9em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
background-color: blue;
}

.block {
  width: 12%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 100;
}

.title {
  width: 21%;
  height: 15%;
  top: 10%;
  left:39%;
  position: absolute;
  background-image: url(title.png);
  background-size: cover;
}

.vhs {
  visibility: hidden;
  width: 23%;
  height: 22%;
  top: 40%;
  left:39%;
  position: absolute;
  background-image: url(vhs.png);
  background-size: cover;
}

#left{
  left: 0;
  top: 0;

}

#right{
  right: 0;
  top: 0;
}


.body {
  width: 80%;
  height: 10%;
  color: white;
  text-align: center;
  position: absolute;
  background-color: transparent;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#first{
  top:30%;
  left:10%;
}

.body #first:hover {
  background-image: url(vhs.jpg);
}

#second{
  top:43%;
  left:10%;
}

#third{
  top:62%;
  left:10%;
}

.play {
  width: 12%;
  height: 10%;
  bottom: 6%;
  left: 44%;
background-color: transparent;
  position: absolute;
  z-index: 100;
  text-align: center;
  color: rgb(112, 255, 0);
  font-size: 2em;
}

.play h3 {
  margin-top: 0;
}

.play:hover {
  background-image: url(vhs.png);
  background-size: cover;
  color: transparent;
  text-shadow: none;
}
